@import "tailwindcss";

@font-face {
  font-family: "Patua One";
  src: url("/fonts/PatuaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-patua_one: "Patua One", serif;
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}

body {
  background-color: #282828;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #282828;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #ebdbb2;
  border: 2px solid #ebdbb2;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fabd2f;
}
